**/*.csv
Trabajo1/codigos/mtVRP Instances
Trabajo2/codigos/mtVRP Instances
Trabajo3/codigos/mtVRP Instances
Trabajo1/Documentos
Trabajo2/Documentos
Trabajo3/Documentos
Trabajo1/codigos/Resultados
Trabajo2/codigos/Resultados
Trabajo3/codigos/Resultados
.DS_store